@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Bienvenido al Dashboard</h2>
    <p>@ViewBag.Bienvenida</p>
</div>

