
@model IEnumerable<AdminSeguridadMVC.Models.Rol>

@{
    ViewBag.Title = "Gestión de Roles";
}

<div class="container">
    <h1 class="page-title">Gestión de Roles</h1>

    <div class="actions">
        <a asp-action="Edit" class="btn btn-primary">Crear Nuevo Rol</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rol in Model)
            {
                    <tr>
                        <td>@rol.RolID</td>
                        <td>@rol.NombreRol</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@rol.RolID" class="btn btn-success">Editar</a>
                            <a asp-action="Delete" asp-route-id="@rol.RolID" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>

<style>
  
</style>

